@import "tailwindcss";

html {
  font-family: 'Source Sans Pro', sans-serif;
  background: #f9f9f9;
  font-size: 14px;
}

@theme {
  --animate-shimmer: shimmer 1.5s linear infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@layer utilities {
  .shimmer {
    position: relative;
    overflow: hidden;
    background-color: rgb(226 232 240);
  }

  .shimmer::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    animation: var(--animate-shimmer);
    background: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.45),
      transparent
    );
  }
}